{% extends "page.html" %}

{% block subtitle %}{{ _('About') }}{% endblock %}

{% block maintag %}
	<!--
	<span>get_featured_groups:{{ h.get_site_statistics() }}</span><br/>
	<span>group_count:{{ h.get_site_statistics()['group_count'] }}</span><br/>
	<span>organization_count:{{ h.get_site_statistics()['organization_count'] }}</span><br/>
	<span>dataset_count:{{ h.get_site_statistics()['dataset_count'] }}</span><br/>
	-->
	<!-- chamada inicial -->
	<div class="page-header">
			<div class="shap-pageheader">
				<div class="line line-1"><img src="/base/assets/images/data-footer.png" alt="linha de dados"></div>
				<div class="line line-2"><img src="/base/assets/images/data-footer.png" alt="linha de dados"></div>
				<div class="line line-3"><img src="/base/assets/images/data-footer.png" alt="linha de dados"></div>
				<div class="line line-4"><img src="/base/assets/images/data-footer.png" alt="linha de dados"></div>
				<div class="line line-5"><img src="/base/assets/images/data-footer.png" alt="linha de dados"></div>
			</div>
			<div class="container">
				<div class="pageheader-textarea text-center">
					<h1>Dados abertos testesssss</h1>
					<article role="article" class="articleSection text-center">
							Este portal disponibiliza, de forma pública, dados que são gerados por secretarias 
							e órgãos da gestão municipal. A publicação dos dados em formato aberto permite que qualquer 
							um desenvolva aplicações ou visualizações, buscando facilitar a análise dos dados, promovendo 
							a melhoria de serviços por meio da inovação e da criatividade, e contribuindo para uma maior  
							participação da sociedade junto ao governo municipal.
					</article>
				</div>
			</div>
	</div>
	<!-- chamada inicial -->
{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('About'), 'home.about' %}</li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      {% block about %}
        {% if g.site_about %}
          {{ h.render_markdown(g.site_about) }}
        {% else %}
          {% snippet 'home/snippets/about_text.html', groups_count=h.get_site_statistics()['group_count'], dataset_count=h.get_site_statistics()['dataset_count'] %}
        {% endif %}
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
