{% extends "package/read_base.html" %}
{% import 'macros/form.html' as form %}

{% block primary_content_inner %}
  <ul class="nav nav-tabs ml-0" role="tablist">
    {{ h.build_nav_icon_header('dataset_read', _('Dataset'), id=pkg.name, url='/dataset/') }}
    {{ h.build_nav_icon_header('dataset_groups', _('Groups'), id=pkg.name, url='/dataset/groups/') }}
    {{ h.build_nav_icon_header('dataset_activity', _('Activity Stream'), id=pkg.name, url='/dataset/activity/') }}
  </ul>
  <div class="tab-content">
    <div class="tab-pane active show"  role="tabpanel">
      <p>
          {{ h.render_markdown(h.get_translated(pkg, 'notes')) }}
      </p>
  {% if c.group_dropdown %}
    <form class="add-to-group" method="post">
      <div class="row">
        <div class="col">
          <select id="field-add_group" name="group_added" data-module="autocomplete" style="width: 100%">
            {% for option in c.group_dropdown %}
              <option value="{{ option[0] }}"> {{ option[1] }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary" title="{{ _('Associate this group with this dataset') }}">{{ _('Add to group') }}</button>
        </div>
      </div>
    </form>
  {% endif %}

  {% if c.pkg_dict.groups %}
    <form method="post">
      {% snippet 'group/snippets/group_list.html', groups=c.pkg_dict.groups %}
    </form>
  {% else %}
    <p class="empty">{{ _('There are no groups associated with this dataset') }}</p>
  {% endif %}

{% endblock %}
      </div>
    </div>
