{#
Displays a list of datasets.

packages       - A list of packages to display.
list_class     - The class name for the list item.
item_class     - The class name to use on each item.
hide_resources - If true hides the resources (default: false).
banner         - If true displays a popular banner (default: false).
truncate       - The length to trucate the description to (default: 180)
truncate_title - The length to truncate the title to (default: 80).

Example:

  {% snippet 'snippets/package_list.html', packages=c.datasets %}

#}
{% block package_list %}
  {% if packages %}
   <!-- tab list article-->
   <ul class="nav nav-tabs ml-0" role="tablist">
        <li class="nav-item pb-0">
            <a class="nav-link active show" data-toggle="tab" href="#home" role="tab" 
            aria-controls="home" aria-selected="true">
                <i class="icon-list icons d-block"></i>
            </a>
        </li>
        <li class="nav-item pb-0">
            <a class="nav-link" data-toggle="tab" href="#profile" role="tab" 
            aria-controls="profile" aria-selected="false"><i class="icon-grid icons d-block"></i>
            </a>
        </li>
    </ul>
    <!-- /tab list article-->

    
  <!--content  conteúdo-->
  <div class="tab-content">
    <div class="tab-pane active show" id="home" role="tabpanel">
        {% for package in packages %}
          {% set truncate = truncate or 180 %}
          {% set truncate_title = truncate_title or 80 %}
          {% set title = package.title or package.name %}
          {% set notes = h.markdown_extract(package.notes, extract_length=truncate) %}
          <!--Loop resultado de pesquisasa-->
          <div class="card cardSearch">
              
              <div class="card-body">
                  <h5>{{h.truncate(title, truncate_title)}}</h5>
                  <hr>
                  <!-- Texto de descrição do dado Truncate 100 caracteres e o link de direcionamento do dados-->
                  <div class="">
                      <p class="mb-1">
                        {% if notes %}
                          {{ notes|urlize }}
                        {% else %}  
                         {{ _("This dataset has no description") }}
                        {% endif %}
                      </p>
                      <a href="{{h.url_for(package.type + '_read', controller='package', action='read', id=package.name)}}" class="text-blue floatRight" rel="">Ver mais</a>
                  </div>
                  <!--Truncate-->

                  <div class="d-flex align-items-center mt-2">
                      {% set total_views=0 %}
                      {% for resource in package.resources %}
                          {# set total_views = total_views + resource.tracking_summary.total#}
                          
                           {% if resource.format =='PDF' %}
                           <a href="/dataset?res_format=PDF"><span class="badge badge-danger mr-2 btn-danger">PDF</span></a>
                           {% elif resource.format =='CSV' %}
                           <a href="/dataset?res_format=CSV"><span class="badge badge-success mr-2 btn-success">CSV</span></a>
                           {% elif resource.format =='JSON' %}
                           <a href="/dataset?res_format=JSON"><span class="badge badge-warning mr-2 btn-warning">JSON</span></a>
                           {% elif resource.format =='XML' %}
                           <a href="/dataset?res_format=XML"><span class="badge badge-info mr-2 btn-info">XML</span></a>
                           {% else %}
                           <a href="/dataset?res_format={{resource.format}}"><span class="badge badge-dark mr-2 btn-dark">{{resource.format}}</span></a>
                           {% endif %}
                      {% endfor %}
                  </div>
                  <div class="mt-3 floatRight">
                      <i class="icon-eye icons mr-1 pt-1"></i> Visitas<b class="ml-1 mr-2 text-primary">{{total_views}}</b> |
                      <i class="icon-cloud-upload icons mr-1 pt-1 ml-2"></i> 
                      Atualização:<b class="ml-1 text-primary">{{ h.render_datetime(package.metadata_modified,date_format='%d/%m/%Y', with_hours=False) }}</b>
                      
                  </div>
              </div>
          </div>
        {% endfor %}
        <!--/Loop resultado de pesquisas-->
        <!--Páginação-->
        <ul class="pagination ml-0">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
            <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
        <!--/páginação-->
    </div>
    <div class="tab-pane" id="profile" role="tabpanel">
        <div class="row">
            
              {% for package in packages %}
              {% set truncate = truncate or 180 %}
              {% set truncate_title = truncate_title or 80 %}
              {% set title = package.title or package.name %}
              {% set notes = h.markdown_extract(package.notes, extract_length=truncate) %}
              <div class="col-xl-4 col-lg-6 col-sm-6 col-12">
                <div class="card cardSearch">
                    <div class="card-body">
                        <h5>{{h.truncate(title, truncate_title)}}</h5>
                        <hr> 
                        <p class="mb-2">
                          {% if notes %}
                            {{ notes|urlize }}
                          {% else %}  
                          {{ _("This dataset has no description") }}
                          {% endif %}                                  
                        </p> 
                        <a href="" class="text-blue" rel="">Ver mais</a>
                        <div class="d-flex align-items-center mt-2">

                          {% for resource in package.resources %}
                            {% if resource.format =='PDF' %}
                              <a href="/dataset?res_format=PDF"><span class="badge badge-danger mr-2 btn-danger">PDF</span></a>
                              {% elif resource.format =='CSV' %}
                              <a href="/dataset?res_format=CSV"><span class="badge badge-success mr-2 btn-success">CSV</span></a>
                              {% elif resource.format =='JSON' %}
                              <a href="/dataset?res_format=JSON"><span class="badge badge-warning mr-2 btn-warning">JSON</span></a>
                              {% elif resource.format =='XML' %}
                              <a href="/dataset?res_format=XML"><span class="badge badge-info mr-2 btn-info">XML</span></a>
                              {% else %}
                              <a href="/dataset?res_format={{resource.format}}"><span class="badge badge-dark mr-2 btn-dark">{{resource.format}}</span></a>
                              {% endif %}
                          {% endfor %}
                            
                        </div>
                        <div class="mt-3">
                            Visitas<b class="mr-1 ml-1 text-primary">111</b>  
                            Atualização:<b class="ml-1 text-primary">{{ h.render_datetime(package.metadata_modified,date_format='%d/%m/%Y', with_hours=False) }}</b>
                          </div>
                    </div>
                </div> 
              </div>
              {% endfor %}
            
        </div>
    </div>
</div>
<!--/content conteúdo-->
   {# <ul class="{{ list_class or 'dataset-list list-unstyled' }}">
    	{% block package_list_inner %}
	      {% for package in packages %}
	        {% snippet 'snippets/package_item.html', package=package, item_class=item_class, hide_resources=hide_resources, banner=banner, truncate=truncate, truncate_title=truncate_title %}
	      {% endfor %}
	    {% endblock %}
    </ul>#}
  {% endif %}
{% endblock %}
