{% trans %}
<main role="main">
            <!-- article-->
            <section class="">
                <div class="container">
                    <div class="row">
                        <div class="col-12">

                        </div>
                    </div>
                </div>
            </section>
            <!--/ article-->

            <!-- Seção sobre lado a lado -->
            <section class="about-section style-7 crypto-bg pt-5 pb-0">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-12">
                            <div class="abl-part">
                                <div class="">
                                    <iframe src="https://www.youtube.com/embed/S0DX390oVqU" width="500" height="360" frameborder="0" allowfullscreen="allowfullscreen">
                                    </iframe>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="abr-part">
                                <div class="section-header style-2 mb-0">
                                    <div class="abs-lab-thumb pink">
                                        <span class="pluse_1"></span>
                                        <span class="pluse_2"></span>
                                        <i class="fa fa-database text-white fa-2x" aria-hidden="true"></i>
                                    </div>
                                    <h2 class="text-main">Por quê Dados abertos?</h2>
                                    <p>Smratseo is a brand of digital agency. Competen novate synergstic vortas through forward
                                        strategic theme areas Compelling extend super was that Proactive myocardinate vertical
                                        strategic</p>
                                    <ul>
                                        <li>
                                            <div class="left"><span><i class="icofont-tick-mark"></i></span></div>
                                            <div class="right mt-2 ml-2">
                                                <p>If Google can’t crawl your site, it’s not going to rank – but that doesn’t
                                                    mean avoiding Javascript.</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="left"><span><i class="icofont-tick-mark"></i></span></div>
                                            <div class="right mt-2 ml-2">
                                                <p>For businesses which sell products online &amp; and improve their product
                                                    listings in the search results..</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="about-section style-7 crypto-bg pt-3 pb-0">
                <div class="container">
                    <div class="row flex-row-reverse align-items-center">
                        <div class="col-lg-6 col-12">
                            <div class="abl-part">
                                <div class="about-thumb">
                                    <img src="/base/assets/images/mobile-isometric.png" alt="about-crypto">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="abr-part">
                                <div class="section-header style-2 mb-0">
                                    <div class="abs-lab-thumb">
                                        <span class="pluse_1"></span>
                                        <span class="pluse_2"></span>
                                        <i class="fa fa-code text-white fa-2x" aria-hidden="true"></i>
                                    </div>
                                    <h2 class="text-main">Guia para desenvolvedores</h2>
                                    <p class="">Smratseo is a brand of digital agency. Competen novate synergstic vortas through forward
                                        strategic theme areas Compelling extend super was that Proactive myocardinate vertical
                                        strategic</p>
                                    <ul>
                                        <li>
                                            <div class="left"><span><i class="icofont-tick-mark"></i></span></div>
                                            <div class="right">
                                                <p class="mt-2 ml-2">Manual dados abertos para desenvolvedores web
                                                    <a href="/base/assets/pdf/manual_dados_abertos_desenvolvedores_web.pdf" download>download</a></p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="left"><span><i class="icofont-tick-mark"></i></span></div>
                                            <div class="right">
                                                <p class="mt-2 ml-2">Cartilha para desenvolvedores dados abertos <a href="/base/assets/pdf/encarte_manual_desenvolvedores_web.pdf" download>download</a></p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="left"><span><i class="icofont-tick-mark"></i></span></div>
                                            <div class="right">
                                                <p class="mt-2 ml-2">Guia de Dados Abertos OKFN <a target="_blank" href="http://opendatahandbook.org/guide/pt_BR/" class="text-blue">Download</a></p>
                                            </div>
                                                
                                        </li>
                                        <li>
                                            <div class="left"><span><i class="icofont-tick-mark"></i></span></div>
                                            <div class="right">
                                                <p class="mt-2 ml-2">Manual dados abertos <a href="/base/assets/pdf/Manual_Dados_Abertos_WEB.pdf" class="text-blue" download>Download</a></p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="about-section style-7 crypto-bg padding-tb pb-0">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-12">
                            <div class="abl-part">
                                <div class="about-thumb">
                                    <img src="/base/assets/images/tech-data.png" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="abr-part">
                                <div class="section-header style-2 mb-0">
                                    <div class="abs-lab-thumb green">
                                        <span class="pluse_1"></span>
                                        <span class="pluse_2"></span>
                                        <i class="fa fa-bar-chart text-white fa-2x"></i>
                                    </div>
                                    <h2 class="text-main">Analise a cidade</h2>
                                    <p>Smratseo is a brand of digital agency. Competen novate synergstic vortas through forward
                                        strategic theme areas Compelling extend super was that Proactive myocardinate vertical
                                        strategic</p>
                                    <ul>
                                        <li>
                                            <div class="left"><span><i class="icofont-tick-mark"></i></span></div>
                                            <div class="right">
                                                <p class="mt-2 ml-2">If Google can’t crawl your site, it’s not going to rank – but that doesn’t
                                                    mean avoiding Javascript.</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="left"><span><i class="icofont-tick-mark"></i></span></div>
                                            <div class="right">
                                                <p class="mt-2 ml-2">For businesses which sell products online &amp; and improve their product
                                                    listings in the search results..</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /Seção sobre lado a lado -->

            <div class="service-sponsor my-5">
                <!-- Service Section Style 2 Start Here -->
                <section class="service-section style-7 crypto-bg">
                    <div class="container">
                        <div class="section-wrapper">
                            <div class="lab-item-2">
                                <div class="lab-inner">
                                    <div class="lab-thumb">
                                        <img src="/base/assets/images/molde-data.png" alt="lab-thumb">
                                    </div>
                                    <div class="lab-content">
                                        <h2>{{ dataset_count }}</h2>
                                        <h4>Total de Dados</h4>
                                        <p>Creib scae team drven marke whera Phosfuor escentl archec full rearche awesome
                                            catalyst for</p>
                                    </div>
                                </div>
                            </div>
                            <div class="lab-item-2">
                                <div class="lab-inner">
                                    <div class="lab-thumb">
                                        <img src="/base/assets/images/tech-data.png" alt="lab-thumb">
                                    </div>
                                    <div class="lab-content">
                                        <h2>{{ groups_count }}</h2>
                                        <h4>Grupos</h4>
                                        <p>Creib scae team drven marke whera Phosfuor escentl archec full rearche awesome
                                            catalyst for</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Service Section Style 2 Ending Here -->
            </div>
        </main>
		
{% endtrans %}
		
