{% extends "page.html" %}

{% block subtitle %}{{ _('About') }}{% endblock %}

{% block headercustom %}
	
	 <!--page header-->
        <div class="page-header">
            <div class="shap-pageheader">
                <div class="line line-1"><img src="/base/assets/images/data-footer.png" alt="linha de dados"></div>
                <div class="line line-2"><img src="/base/assets/images/data-footer.png" alt="linha de dados"></div>
                <div class="line line-3"><img src="/base/assets/images/data-footer.png" alt="linha de dados"></div>
                <div class="line line-4"><img src="/base/assets/images/data-footer.png" alt="linha de dados"></div>
                <div class="line line-5"><img src="/base/assets/images/data-footer.png" alt="linha de dados"></div>
                <div class="line line-6"><img src="/base/assets/images/data-footer.png" alt="linha de dados"></div>
            </div>
            <div class="container">
                <div class="pageheader-textarea text-center">
                    <h1>Fale conosco</h1>
                    <article role="article" class="articleSection text-center">Nossa página de contato responde às dúvidas mais frequentes, mas se você não conseguir achar o que busca saiba que oferecemos um canal de comunicação para o envio de dúvidas, sugestões, reclamações e elogios..</article>
                </div>
            </div>
        </div>
        <!-- pageheader -->
{% endblock %}

{% block breadcrumb_content %}
  <li class="active"><a class=" active" href="/contato">Fale conosco</a></li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      {% set current_url = h.full_current_url() %}
      {% block about %}
           {% snippet 'faq/snippets/contato_text.html', groups_count=h.get_site_statistics()['group_count'], dataset_count=h.get_site_statistics()['dataset_count'], current_url=current_url %}
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
