{% extends "page.html" %}

{% block subtitle %}{{ _('Organizations') }}{% endblock %}
{% block maintag %}
	<!--
	<span>get_featured_groups:{{ h.get_site_statistics() }}</span><br/>
	<span>group_count:{{ h.get_site_statistics()['group_count'] }}</span><br/>
	<span>organization_count:{{ h.get_site_statistics()['organization_count'] }}</span><br/>
	<span>dataset_count:{{ h.get_site_statistics()['dataset_count'] }}</span><br/>
	-->
	<!-- chamada inicial -->
	<div class="page-header">
			<div class="shap-pageheader">
				<div class="line line-1"><img src="/base/assets/images/data-footer.png" alt="linha de dados"></div>
				<div class="line line-2"><img src="/base/assets/images/data-footer.png" alt="linha de dados"></div>
				<div class="line line-3"><img src="/base/assets/images/data-footer.png" alt="linha de dados"></div>
				<div class="line line-4"><img src="/base/assets/images/data-footer.png" alt="linha de dados"></div>
				<div class="line line-5"><img src="/base/assets/images/data-footer.png" alt="linha de dados"></div>
			</div>
			<div class="container">
                <div class="pageheader-textarea text-center">
                    <h1>Organizações</h1>
                    <article role="article" class="articleSection text-center">Você pode usar Grupos do CKAN para criar e
                         gerenciar coleções de conjuntos de dados. 
                        Isso pode ser feito para catalogar conjuntos de dados de um projeto ou time particular, ou em um tema particular, 
                        ou como uma forma simples de ajudar as pessoas a encontrar e buscar seus próprios conjuntos de dados.</article>
                </div>
            </div>
	</div>
	<!-- chamada inicial -->
{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Organizations'), controller='organization', action='index', named_route=group_type + '_index' %}</li>
{% endblock %}

{% block page_header %}{% endblock %}

{% block page_primary_action %}
  {% if h.check_access('organization_create') %}
    {% link_for _('Add Organization'), controller='organization', action='new', class_='btn btn-primary', icon='plus-square', named_route=group_type + '_new' %}
  {% endif %}
{% endblock %}

{% block primary_content_inner %}
  <h1 class="hide-heading">{% block page_heading %}{{ _('Organizations') }}{% endblock %}</h1>
  {% block organizations_search_form %}
    {% snippet 'snippets/search_form.html', form_id='organization-search-form', type='organization', query=c.q, sorting_selected=c.sort_by_selected, count=c.page.item_count, placeholder=_('Search organizations...'), show_empty=request.params, no_bottom_border=true if c.page.items, sorting = [(_('Name Ascending'), 'title asc'), (_('Name Descending'), 'title desc')] %}
  {% endblock %}
  {% block organizations_list %}
    {% if c.page.items or request.params %}
      {% if c.page.items %}
        {% snippet "organization/snippets/organization_list.html", organizations=c.page.items %}
      {% endif %}
    {% else %}
      <p class="empty">
        {{ _('There are currently no organizations for this site') }}.
        {% if h.check_access('organization_create') %}
          {% link_for _('How about creating one?'), controller='organization', action='new' %}</a>.
        {% endif %}
      </p>
    {% endif %}
  {% endblock %}
  {% block page_pagination %}
    {{ c.page.pager(q=c.q or '', sort=c.sort_by_selected or '') }}
  {% endblock %}
{% endblock %}

{% block secondary_content %}
  {% snippet "organization/snippets/helper.html" %}
{% endblock %}
