{% trans %}
<!-- seção  principal-->
        <main>
            <section class="mt-5 mb-5 faq">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-12 faqIndice">
                            <h3 class="text-main">Índice</h3>
                            <ul class="mt-4">
                                <li class="">
                                    <a href="#faq1" class="scroll">
                                        <i class="fa fa-question-circle-o icon-circle bg-iconGrad-2 text-white mr-2"></i> 
                                        <span>Como usar dados abertos ?</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#faq2" class="scroll">
                                        <i class="fa fa-question-circle-o icon-circle bg-iconGrad-2 text-white mr-2"></i> 
                                        <span>O que são Dados Abertos ?</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#faq3" class="scroll">
                                        <i class="fa fa-question-circle-o icon-circle bg-iconGrad-2 text-white mr-2"></i> 
                                        <span>O portal hospeda dados?</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#faq4" class="scroll">
                                        <i class="fa fa-question-circle-o icon-circle bg-iconGrad-2 text-white mr-2"></i> 
                                        <span>Como posso catalogar dados do meu órgão ?</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#faq5" class="scroll">
                                        <i class="fa fa-question-circle-o icon-circle bg-iconGrad-2 text-white mr-2"></i> 
                                        <span>Quem desenvolveu o dados.gov.br ?</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#faq6" class="scroll">
                                        <i class="fa fa-question-circle-o icon-circle bg-iconGrad-2 text-white mr-2"></i> 
                                        <span>O que são metadados ?</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#faq7" class="scroll">
                                        <i class="fa fa-question-circle-o icon-circle bg-iconGrad-2 text-white mr-2"></i> 
                                        <span>Qual a diferença deste portal para os portais de transparência ?</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#faq8" class="scroll">
                                        <i class="fa fa-question-circle-o icon-circle bg-iconGrad-2 text-white mr-2"></i> 
                                        <span>O portal tem algum dado pessoal ou sigiloso ?</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#faq9" class="scroll">
                                        <i class="fa fa-question-circle-o icon-circle bg-iconGrad-2 text-white mr-2"></i> 
                                        <span>Qual a diferença deste portal para os portais de transparência ?</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#faq10" class="scroll">
                                        <i class="fa fa-question-circle-o icon-circle bg-iconGrad-2 text-white mr-2"></i> 
                                        <span>O portal tem algum dado pessoal ou sigiloso ?</span>
                                    </a>
                                </li>
                            </ul>  
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" id="faq1">
                            <h4>Como usar dados abertos ?</h4>
                            <p>Utilize as diversas ferramentas de navegação para encontrar o conjunto de dados que você procura. 
                                Além das ferramentas disponíveis na página principal, a página Dados disponibiliza mais ferramentas para sua busca por dados. 
                                É possível filtrar, por exemplo, por etiquetas, grupos e formatos. Você também pode utilizar a caixa de busca para 
                                consultar algo mais específico.</p>
                        </div>
                        <div class="col-sm-12" id="faq2">
                            <h4>O que são Dados Abertos ?</h4>
                            <p>Dados Abertos são dados que são livremente disponíveis para todos utilizarem e redistribuírem como desejarem, sem restrição de licenças, 
                                patentes ou mecanismos de controle. Na prática, a filosofia de dados abertos estipula algumas restrições tecnológicas
                                 para que os dados sejam legíveis por máquina. <br>
                                 Todo dado público tem vocação para ser dado aberto. Como praticamente todo dado governamental é público, é fundamental que os governos
                                  implementem políticas para disponibilizá-los. Para saber mais, conheça as leis e os princípios dos dados abertos.</p>
                        </div>
                        <div class="col-sm-12" id="faq3">
                            <h4>O portal hospeda dados ?</h4>
                            <p>Cabe a cada órgão ou entidade providenciar a própria hospedagem dos dados que publica na web. O Portal Brasileiro de Dados Abertos apenas 
                                armazena os metadados e links para os dados que são nele catalogados pelos órgãos e entidades responsáveis..</p>
                        </div>
                        <div class="col-sm-12" id="faq4">
                            <h4>Como posso catalogar dados do meu órgão ?</h4>
                            <p>O Portal de Dados Abertos é o ponto central para a busca e o acesso aos dados públicos no município de Fortaleza. 
                                Cada órgão é responsável pela catalogação no portal  daqueles dados que publica na Internet. 
                                Para saber mais sobre esse processo entre em contato com o Time de Dados Abertos, na fundação CITINOVA.</p>
                        </div>
                        <div class="col-sm-12" id="faq5">
                            <h4>Como usar dados abertos ?</h4>
                            <p>Utilize as diversas ferramentas de navegação para encontrar o conjunto de dados que você procura. 
                                Além das ferramentas disponíveis na página principal, a página Dados disponibiliza mais ferramentas para sua busca por dados. 
                                É possível filtrar, por exemplo, por etiquetas, grupos e formatos. Você também pode utilizar a caixa de busca para 
                                consultar algo mais específico.</p>
                        </div>
                        <div class="col-sm-12" id="faq6">
                            <h4>O que são Dados Abertos ?</h4>
                            <p>Dados Abertos são dados que são livremente disponíveis para todos utilizarem e redistribuírem como desejarem, sem restrição de licenças, 
                                patentes ou mecanismos de controle. Na prática, a filosofia de dados abertos estipula algumas restrições tecnológicas
                                 para que os dados sejam legíveis por máquina. <br>
                                 Todo dado público tem vocação para ser dado aberto. Como praticamente todo dado governamental é público, é fundamental que os governos
                                  implementem políticas para disponibilizá-los. Para saber mais, conheça as leis e os princípios dos dados abertos.</p>
                        </div>
                        <div class="col-sm-12" id="faq7">
                            <h4>O portal hospeda dados ?</h4>
                            <p>Cabe a cada órgão ou entidade providenciar a própria hospedagem dos dados que publica na web. O Portal Brasileiro de Dados Abertos apenas 
                                armazena os metadados e links para os dados que são nele catalogados pelos órgãos e entidades responsáveis..</p>
                        </div>
                        <div class="col-sm-12" id="faq8">
                            <h4>Como posso catalogar dados do meu órgão ?</h4>
                            <p>O Portal de Dados Abertos é o ponto central para a busca e o acesso aos dados públicos no município de Fortaleza. 
                                Cada órgão é responsável pela catalogação no portal  daqueles dados que publica na Internet. 
                                Para saber mais sobre esse processo entre em contato com o Time de Dados Abertos, na fundação CITINOVA.</p>
                        </div>
                        <div class="col-sm-12" id="faq9">
                            <h4>O portal hospeda dados ?</h4>
                            <p>Cabe a cada órgão ou entidade providenciar a própria hospedagem dos dados que publica na web. O Portal Brasileiro de Dados Abertos apenas 
                                armazena os metadados e links para os dados que são nele catalogados pelos órgãos e entidades responsáveis..</p>
                        </div>
                        <div class="col-sm-12" id="faq10">
                            <h4>Como posso catalogar dados do meu órgão ?</h4>
                            <p>O Portal de Dados Abertos é o ponto central para a busca e o acesso aos dados públicos no município de Fortaleza. 
                                Cada órgão é responsável pela catalogação no portal  daqueles dados que publica na Internet. 
                                Para saber mais sobre esse processo entre em contato com o Time de Dados Abertos, na fundação CITINOVA.</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- /Seção principal -->		
{% endtrans %}
		
