<div class="service-tab">
  <h5>Organizações</h5>
  <ul class="tab-menu">
      <li>Secretaria da Saúde <span>(6)</span></li>
  </ul>
</div>
<div class="service-tab">
  <h5>Formatos</h5>
  <ul class="tab-menu">
      <li>CSV <span>(6)</span></li>
      <li>JSON <span>(6)</span> </li>
      <li>PDF <span>(6)</span></li>
      <li>XML <span>(6)</span></li>
  </ul>
</div>
<div class="service-social">
  <h4 class="mb-3">Compartilhe</h4>
  <div class="d-flex justify-content-between">
      <a href="" class="mr-2"><i class="fa fa-facebook  icon-circle bg-blue-darken" aria-hidden="true"></i></a>
      <a href="" class="mr-2"><i class="fa fa-instagram icon-circle bg-pink" aria-hidden="true"></i></a>
      <a href="" class="mr-2"><i class="fa fa-twitter   icon-circle bg-info" aria-hidden="true"></i></a>
  </div>
</div>