<div class="service-tab">
  <h5>Organizações</h5>
  <ul class="tab-menu">
    {% for organization in h.list_formats()['search_facets']['organization']['items'] %}
      <li>
        <a href="/dataset?organization={{organization.name}}" >
          <span class="item-label">{{organization.display_name}}({{organization.count}})</span>
        </a>
      </li> 
    {% endfor %}
  </ul>
</div>
<div class="service-tab">
  <h5>Formatos</h5>
  <ul class="tab-menu">
    {% for format in h.list_formats()['search_facets']['res_format']['items'] %}
      <li>
        <a href="/dataset?res_format={{format.name}}" >
          <span class="item-label">{{format.display_name}}({{format.count}})</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
<div class="service-social">
  <h4 class="mb-3">Compartilhe</h4>
  <div class="d-flex justify-content-between">
      <a target="_blank" href="https://www.facebook.com/sharer.php?u={{ current_url }}" class="mr-2"><i class="fa fa-facebook  icon-circle bg-blue-darken" aria-hidden="true"></i></a>
      <a target="_blank" href="https://www.instagram.com/prefeiturafortalezavoce/" class="mr-2"><i class="fa fa-instagram icon-circle bg-pink" aria-hidden="true"></i></a>
      <a target="_blank" href="https://twitter.com/share?url={{ current_url }}" class="mr-2"><i class="fa fa-twitter   icon-circle bg-info" aria-hidden="true"></i></a>
  </div>
</div>




