<!-- Footer -->
<footer id="footer">
    <div class="footer-top style-3 bgFooter padding-tb">
        <div class="shap-footer">
            <div class="line line-2"><img src="/base/assets/images/data-footer.png" width="250" alt="linha de dados desenho"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="footer-item first-set">
                        <div class="footer-inner">
                            <div class="footer-content">
                                <div class="title">
                                    <img src="/base/assets/images/logo.png" alt="logo prefeitura de fortaleza">
                                </div>
                                <div class="content">
                                    <hr>
                                    <ul>
                                        <li>
                                            <p><a target="_blank" href="https://www.facebook.com/PrefeituradeFortaleza" class="mr-1"><i class="icofont-facebook font-2xl"></i></a> <a target="_blank" href="https://www.instagram.com/prefeiturafortalezavoce"><i class="icofont-instagram font-2xl"></i></a></p>
                                        </li>
                                        <li class="justify-content-start mt-2">
                                            <hr>
                                            <a target="_blank" href="https://acessoainformacao.fortaleza.ce.gov.br/sistema/site/index.html?ReturnUrl=%2fsistema%2f">
                                                <img src="/base/assets/images/ainformacao.png" alt="icone acesso informação" width="55">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="footer-item">
                        <div class="footer-inner">
                            <div class="footer-content">
                                <div class="title">
                                    <h6>Principal</h6>
                                </div>
                                <div class="content">
                                    <ul>
                                        <li><a href="{{ h.url_for('home.index') }}">Home</a></li>
                                        <li><a href="{{ h.url_for('home.about') }}">Sobre</a></li>
                                        <li><a href="{{ h.url_for('search') }}">Conjunto de dados</a></li>
                                        <li><a href="{{ h.url_for('group_index') }}">Grupos</a></li>
                                        <li><a href="{{ h.url_for('organizations_index') }}">Organizações</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="footer-item">
                        <div class="footer-inner">
                            <div class="footer-content">
                                <div class="title">
                                    <h6>Grupos</h6>
                                </div>
                                <div class="content">
                                    <ul>
                                        <li><a href="#">Cultura</a></li>
                                        <li><a href="#">Demografia</a></li>
                                        <li><a href="#"></i>Esportes</a></li>
                                        <li><a href="#">Habitação</a></li>
                                        <li><a href="#">Saúde</a></li>
                                        <li><a href="#"></i>Segurança</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="footer-item">
                        <div class="footer-inner">
                            <div class="footer-content">
                                <div class="title">
                                    <h6>Ajuda</h6>
                                </div>
                                <div class="content">
                                    <ul>
                                        <li><a href="#">Perguntas frequentes</a></li>
                                        <li><a href="#">Como usar</a></li>
                                        <li><a href="#">Contato</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom style-3">
        <div class="container">
            <div class="section-wrapper">
                <hr>
                <p>&copy; 2020 Fortaleza Digital | CITINOVA - Fundação de Ciência, Tecnologia e Inovação de Fortaleza - Rua Leonardo Mota, 2700- Fortaleza-CE </p>
            </div>
        </div>
    </div>
</footer>
<!--/Footer  -->

<!-- scrollToTop -->
<a href="#" class="scrollToTop">
    <i class="icofont-swoosh-up bg-main"></i><span class="pluse_1"></span>
    <span class="pluse_2"></span>
</a>
<!-- scrollToTop -->

